.bg {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

.link {
  position: absolute;
  bottom: 2em;
  left: 2em;
}

a {
  font-family: sans-serif;
  font-weight: 400;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  color: #fff;
}

.bg-wall {
  background: -webkit-linear-gradient(left, #525252, #CACCCB);
  background: linear-gradient(to right, #525252, #CACCCB);
}

.side-wall {
  background: -webkit-radial-gradient(at 0% 50%, rgba(0,0,0,0.15) 25%, rgba(0,0,0,0) 90%) left no-repeat, -webkit-linear-gradient(left, #CACCCB, #BFC1C0);
  background: radial-gradient(at 0% 50%, rgba(0,0,0,0.15) 25%, rgba(0,0,0,0) 90%) left no-repeat, linear-gradient(to right, #CACCCB, #BFC1C0);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 20;
}

div[class$="-wall"] {
  display: inherit;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.perspective {
  -webkit-transform: rotateY(-75deg) scaleX(4);
          transform: rotateY(-75deg) scaleX(4);
  -webkit-transform-origin: left;
          transform-origin: left;
  mix-blend-mode: color-burn;
  z-index: 10;
}

li {
  width: 100%;
  height: 50px;
  position: relative;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: paint .9s .3s linear both;
          animation: paint .9s .3s linear both;
  will-change: transform;
}

li:nth-child(1) {
  background: #121619;
}
li:nth-child(2) {
  background: #F8EB4A;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
li:nth-child(3) {
  background: #E52588;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
li:nth-child(4) {
  background: #1D9ED7;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.bg-wall ul {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.bg-wall li span:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  background: inherit;
  height: 100%;
  width: 50px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 98% 100%, 60% 50%, 98% 0);
          clip-path: polygon(100% 0, 100% 100%, 98% 100%, 60% 50%, 98% 0);
}
.bg-wall li:nth-child(1) {
  width: 50%;
  z-index: 5;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.bg-wall li:nth-child(2) {
  width: calc(50% + 3em);
  z-index: 4;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.bg-wall li:nth-child(3) {
  width: calc(50% + 6em);
  z-index: 3;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.bg-wall li:nth-child(4) {
  width: calc(50% + 3em);
  z-index: 2;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}


.bg-wall span {
  position: absolute;
  top: 0;
  right: 0;
  background: inherit;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.bg-wall li:before {
  content: '';
  top: 0;
  right: 0;
  position: absolute;
  width: 102%;
  height: 100%;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  background: rgba(0,0,0,.4);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
  z-index: 1;
}


@-webkit-keyframes paint {
  to {
    -webkit-transform: none;
            transform: none;
  }
}


@keyframes paint {
  to {
    -webkit-transform: none;
            transform: none;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  outline: 0;
}

a {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: .3em 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}